{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
{% if not session.user_id %}
<h2 id="login">Kirjaudu sisään</h2>
<form action="/login" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <label for="username">Tunnus:</label> <br />
    <input id="username" type="text" name="username" value="{{ username | default('') }}" required maxlength="{{ limits.username }}" />
  </p>
  <p>
    <label for="password">Salasana:</label> <br />
    <input id="password" type="password" name="password" required maxlength="{{ limits.password }}" />
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endif %}

<h2>Arvostelut</h2>
<form action="/" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input id="query" type="text" name="query" value="{{ query }}" maxlength="{{ limits.query }}" />
    <input type="submit" value="Hae" />
  </p>
</form>
<ul>
  {% for review in reviews %}
  <li><a href="/review/{{ review.id }}">{{ review.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
