<!DOCTYPE html>
<html>

<head>
  <title>Lempikirjat</title>
</head>

<body>
  <h1>Lempikirjat</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
  <a href="/new_book_review">Luo kirja-arvostelu</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <a href="/register">Luo tili</a>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  <h1>
    Arvostelut
<form action="/" method="get">
  <p>
    Hakusana:
    <input type="text" name="query" />
    <input type="submit" value="Hae" />
  </p>
</form>
  </h1>
    <ul>
     {% for item in items %}
     <li><a href="/review/{{ item.id }}">{{ item.title }}</a> </li>
     {%endfor%}
    </ul>

</body>

</html>