{% extends "layout.html" %}

{% block title %}Uusi kirja-arvostelu{% endblock %}

{% block content %}
<h2>Luo uusi arvostelu</h2>
<form action="/create_book_review" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <label for="book_name">Kirjan nimi:</label> <br />
    <input id="book_name" type="text" name="book_name" value="{{ review.title }}" required maxlength="{{ limits.title }}" />
  </p>
  <p>
      <label for="author_name">Kirjailijan nimi:</label> <br />
      <input id="author_name" type="text" name="author_name" value="{{ review.author }}" required maxlength="{{ limits.author }}" />
  </p>
  <p>
    <label for="description">Arvostelu:</label> <br />
    <textarea id="description" name="description" rows="8" cols="25" required maxlength="{{ limits.description }}">{{ review.description }}</textarea>
  </p>
  <p>
    <label for="rating">Arvosana 1-10:</label> <br />
    <input id="rating" type="number" name="rating" value="{{ review.rating }}" required min="1" max="10" step="1" />
  </p>
  {% include "class_fields.html" %}
  <input type="submit" value="Lähetä" />
</form>
{% endblock %}
