{% extends "layout.html" %}

{% block title %}{{ review.title }}{% endblock %}

{% block content %}
<h2>Kirja: {{ review.title }}</h2>
{% if session.user_id == review.user_id %}
<p>
  <a href="/edit_review/{{ review.id }}">Muokkaa</a>
  <a href="/delete_review/{{ review.id }}">Poista</a>
</p>
{% endif %}
<p>Kirjailija: {{ review.author }}</p>
<h3>Arvostelu:</h3>
<p>{{ review.description }}</p>
<p>Arvosana: {{ review.rating }}</p>
<p>
  Arvostelun kirjoittaja:
  <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
</p>
{% endblock %}
